<li id="post-<%= post._id%>">
    <p>
        <% if (locals.user && locals.user.id==post.user.id){%>
            <small>
                <a class="delete-post-button" href="/post/destroy/<%= post.id%>">x</a>
            </small>
            <%}%>
                <%= post.content%>

                    <small>
                        <%= post.user.name%>
                    </small>
    </p>
    <!-- comments -->
    <div class="post-comments">
        <% if(locals.user){%>
            <form action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="type here comments" required>
                <input type="hidden" name="post" value="<%= post._id%>">
                <input type="submit" value="Add comment">
            </form>

            <%}%>

                <div class="post-comments-list">
                    <ul id="post-comments-<%= post._id%>">
                        <% for(comment of post.comments){%>
                            <!-- && locals.user.id == comment.user.id -->
                            <%- include('_comment') -%>


                                <%}%>
                    </ul>
                </div>
    </div>
</li>